.product-list-container {
  position: relative;
  margin-top: 1rem;
}

.btn-contianer {
  position: absolute;
  right: 16px;
}

.btn-contianer > button {
  padding: 5px 10px;
  border: none;
  background-color: orangered;
  color: black;
}
