.add-product-form {
  width: 500px;
  margin: auto;
}

.add-product-form > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  text-align: left;
}

.add-product-form > form > input {
  margin-bottom: 12px;
  padding: 8px 5px;
  border: 1px solid black;
  border-radius: 3px;
}
