.main-shipping-container {
  margin: auto;
}

.shipping-container {
  margin-top: 100px auto;
  display: flex;
  justify-content: center;
}

.short-address {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 20px;
}
