.main-container {
  display: flex;
  justify-content: center;
}

.side-container {
  flex: 1;
  padding-top: 5px;
  margin-left: 5px;
  height: 100%;
  box-shadow: 2px 0px 1px rgb(231, 231, 231);
}

.title-container {
  margin-top: 15px;
}
.category {
  margin: 0;
  padding: 5px 0;
  background-color: azure;
  border-bottom: 1px solid rgba(138, 137, 137, 0.274);
}

.category p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
}

.title {
  padding: 0.8rem;
  color: white;
  font-family: sans-serif;
  text-align: left;
  /* border-top-right-radius:18px ;
  border-bottom-right-radius: 18px; */
}

.category-container {
  margin-top: 0.2rem;
}

.category-list {
  background-color: azure;
}

.category-list > p {
  padding: 0.2rem;
  text-align: left;
}

.main-hero-container {
  flex: 4;
  position: relative;
}

.productList-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination-container-main{
  margin-top: 50px;
 
}

@media only screen and (max-width: 600px) {
  .main-container {
    flex-direction: column-reverse;
  }
  .side-container {
    position: sticky;
    bottom: 0;
    opacity: 1;
    z-index: 11111111;
    background-color: aliceblue;
  }
}
